@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.custom-progress-bar .progress-bar {
  background-color: #17a2b8; /* Teal color */
}

.custom-progress-bar-inner {
  background-color: #17a2b8; /* Teal color */
}

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif; /* Apply the font globally */
}

.image-container {
  width: 300px; /* Set a fixed width */
  height: 300px; /* Set a fixed height */
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2);
}

.about-image {
  width: 100%; /* Ensure the image fills the container */
  height: 100%; /* Ensure the image fills the container */
  object-fit: cover; /* Ensure the image covers the container without distortion */
  object-position: top; /* Adjust the position of the image within the container */
  transition: transform 0.3s ease;
}

.about-image:hover {
  transform: scale(1.1);
}

.hero {
  background: linear-gradient(135deg, #1a1a1a 0%, #333 100%);
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('src/assets/hero-bg.jpg') no-repeat center center/cover;
  opacity: 0.3;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero .lead {
  font-size: 1.5rem;
  font-weight: bold;
  color: #17a2b8; /* Teal color */
}

.hero .btn {
  margin-top: 1rem;
}